.carousel {
    height: auto;
    width: 100%;
}

.carousel img {
    width: 100%;
    height: 60vh;
    min-height: 20em;
    object-fit: cover;
    border-style: none;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.carousel img.transparentEffect {
    opacity:.3;
}

#id_btn_left{
    border-style: none;
    clip-path:polygon(0 20%,100% 0,100% 100%,0% 80%);
}

#id_btn_right{
    border-style: none;
    clip-path:polygon(0 0,100% 20%,100% 80%,0 100%);
}

.carousel_grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 10%);
}

.grid_btn_left {
    opacity: .6;
    grid-column: 1;
    grid-row: 1/11;
    margin: 0 5% 0 25%;
}

.grid_btn_left_arrow {
    grid-column: 1;
    grid-row: 5/7;
    margin: 0 0 0 30%;
}

.grid_btn_left_arrow img{
    object-fit: contain;
    min-height: 0;
    width: 1em;
    height: 6.5em;
    padding: 0;
    margin: 0;
}

.grid_img_center  { 
    opacity: .8;
    grid-column: 2/6;
    grid-row: 1/11;
    padding: 0;
    margin: 0;
}

.grid_btn_right { 
    opacity: 0.6;
    grid-column: 6;
    grid-row: 1/11;
    margin: 0 25% 0 5%;
}

.grid_btn_right_arrow {
    grid-column: 6;
    grid-row: 5/7;
    margin: 0 30% 0 0;
    padding: 0;
    justify-self: right;
}

.grid_btn_right_arrow img{
    object-fit: contain;
    min-height: 0;
    width: 1em;
    height: 6.5em;
    padding: 0;
    margin: 0;
}

.grid_btn_left:hover {
    opacity: .8;
}

.grid_btn_right:hover {
    opacity: .8;
}

@media (max-width: 480px){
    .grid_btn_left{ display: none; }
    .grid_btn_left_arrow { display: none; }   
    .grid_btn_right{ display: none; }
    .grid_btn_right_arrow { display: none; }   
    
    .grid_img_center  { 
        grid-column: 1/7;
        grid-row: 1/11;
        padding: 0 1em 0 1em;
    } 
    
    .grid_img_center img { 
        border-radius: 1%;
    } 
    
}

@media (min-width: 480px) and (max-width: 768px){

}