@import "global.css";
@import "background.css";
@import "menu.css";
@import "content.css";
@import "footer.css";


body{
    background-color: black;
}

.main_grid{
    display: grid;
    background-color: black;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 20% repeat(7, 10%) 10%;
}

.grid_menu { 
    grid-column: 1/10;
    grid-row: 1;
}

.grid_background { 
    grid-column: 1/10;
    grid-row: 2/9; 
}

.grid_main { 
    grid-column: 3/8;
    grid-row: 4/9; 
}

.grid_footer    { 
    grid-column: 1/10;
    grid-row: 10; 
}