.main_menu{
    width: 100%;
    height: auto;
    font-size: 1.5em;
    background-color: yellow;
    transform: rotate(25deg);
    clip-path:polygon(0 0,95% 0,100% 50%,95% 100%,0 100%,5% 50%);
    margin-top: 10%;
}

.main_menu ul{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 100%;
}

.main_menu a {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    width: 100%;
    height: auto;
    color: black;
}

.main_menu a:hover {
    color: white;
    font-weight: bolder;
    background-color: #09868b;
}