.main_menu{
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-self: center;
    width: 100vw;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: black;
    margin: 0;
    padding: 0;

}

.main_menu ul{
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.item_3d_cube {
    display: grid;
    grid-template-columns: repeat(30, 0.2em);
    grid-template-rows: repeat(30, 0.2em);
    background-color: black;
    width: 6em;
    height: 6em;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    -webkit-transition:  1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s ;
}

.item_3d_cube p{
    display:flex;
    display: -ms-flexbox;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.line_base {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    background-color: yellow;
    color: black;
    margin: 0;
    padding: 0;
}

.line_top{
    grid-column:4/27;
    grid-row: 1/9;
    transform: skewX(45deg);
    opacity: .9;
}

.line_right{
    grid-column:22/31;
    grid-row: 10/22;
    padding: 1em;
    transform: skewY(45deg);
    text-align: center;
}

.line_bottom{
    grid-column:6/29;
    grid-row: 22/31;
    transform: skewX(45deg);
    text-align: center;
    opacity: .9;
}

.line_left{
    grid-column:1/10;
    grid-row: 10/22;
    padding: 1em;
    transform: skewY(45deg);
    text-align: center;
}

.item_3d_cube:hover .line_top{
    background-color: orangered;
    color: white;
}

.item_3d_cube:hover .line_right{
    background-color: orangered;
    color: white;
}

.item_3d_cube:hover .line_bottom{
    background-color: orangered;
    color: white;
}

.item_3d_cube:hover .line_left{
    background-color: orangered;
    color: white;
}

.item_3d_cube:active .line_top{
    grid-column:6/27;
    grid-row: 6/16;
    background-color: indianred;
    color: white;
}

.item_3d_cube:active .line_right{
    grid-column:22/31;
    grid-row: 11/23;
    background-color: indianred;
    color: white;
}

.item_3d_cube:active .line_left{
    grid-column:1/10;
    grid-row: 11/23;
    background-color: indianred;
    color: white;
}

.item_3d_cube:active .line_bottom{
    grid-column:6/27;
    grid-row: 18/28;
    background-color: indianred;
    color: white;
}

.selected{
    background-color: indianred;
    color: white;
}